.head{
    width: 100%;
    height: 15%;
    background-color: red;
}

.head_photo{
    text-align: center;
}

.head_index{
    margin-top: 1%;
    text-align: center;
}

.cuerpo{
    width: 80%;
    background-color: blue;
    padding-left: 10%;
    padding-right: 10%;
}

.about_me{
    background-color: green;
    width: 18%;
    text-align: center;
}

.about_me_titol{
    background-color: aqua;
}

.about_me_text{
    background-color: white;
    text-align: left;
    padding-left: 5%;
}

.sub_blog{
    padding: 5%;
    padding-bottom: 0%;
    background-color: grey;
}

